@font-face {
  font-family: 'Menlo';
  src: url('Fonts/Menlo.ttc'); 
}

@font-face {
  font-family: 'Minion';
  src: url('Fonts/MinionPro-Regular.otf'); 
}

@font-face {
  font-family: 'Graphik';
  src: url('Fonts/Graphik-MediumItalic.otf'); 
}

* {
  font-family: "Menlo"
}


#Tabs {
  padding-left: 20;
  padding-right: 20;
}

#slogan {
  font-family: "Roboto";
  font-size: 40;
}

h3 {
  font-family: "Roboto";
  font-weight: 300;
  margin: 50;
}

.drawer_list {
  padding: 0px;
}

#drawer_list_container {
  padding: 0px;
  background-color: "white";
}

#drawer_list_item {
  height: 49px;
  border-bottom-color: "grey";
  border-bottom-style: solid;
  border-bottom-width: 1px;
}